<div class="flex flex-col gap-6 p-6 w-full">
  <div>
    <h2 class="text-2xl font-bold text-(--primary) m-0 mb-2">Change Your Password</h2>
    <p class="text-sm text-(--primary)/50 m-0">This is your first login. Please set a new password to secure your
      account.
    </p>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-4 ">
    <!-- New Password -->
    <tui-textfield tuiTextfieldSize="m" class="w-full">
      <label tuiLabel>New Password</label>
      <input tuiInput [type]="showPassword ? 'text' : 'password'" tuiTextfield formControlName="newPassword"
        placeholder="Enter new password" />
      <button type="button" tuiIconButton size="xs" [iconStart]="showPassword ? '@tui.eye-off' : '@tui.eye'"
        (click)="togglePasswordVisibility()" class="cursor-pointer">
      </button>

      @if (hasError('newPassword', 'required')) {
      <tui-error>Password is required</tui-error>
      }
      @if (hasError('newPassword', 'minlength')) {
      <tui-error>Password must be at least 8 characters</tui-error>
      }
    </tui-textfield>

    <!-- Confirm Password -->
    <tui-textfield tuiTextfieldSize="m" class="w-full">
      <label tuiLabel>Confirm Password</label>
      <input tuiInput [type]="showConfirmPassword ? 'text' : 'password'" tuiTextfield formControlName="confirmPassword"
        placeholder="Re-enter new password" />
      <button type="button" tuiIconButton size="xs" [iconStart]="showConfirmPassword ? '@tui.eye-off' : '@tui.eye'"
        (click)="toggleConfirmPasswordVisibility()" class="cursor-pointer">
      </button>

      @if (hasError('confirmPassword', 'required')) {
      <tui-error>Please confirm your password</tui-error>
      }
      @if (form.hasError('mismatch')) {
      <tui-error>Passwords do not match</tui-error>
      }
    </tui-textfield>
  </form>
  <div class="flex gap-3 justify-end pt-2">
    <button type="button" tuiButton appearance="secondary" (click)="cancel()" class="w-24">
      Cancel
    </button>
    <button type="button" tuiButton appearance="primary" (click)="submit()" [disabled]="form.invalid" class="w-24">
      Update
    </button>
  </div>
</div>