<div class="w-full sm:w-[80%] mx-auto p-5" tuiTheme="light">
  <!-- Stepper Header -->
  <tui-tabs
    [activeItemIndex]="activeStepIndex()"
    (activeItemIndexChange)="selectStep($event)"
    class="w-full"
    underline="#333"
  >
    @for (step of steps; track step.id; let last = $last) {
      <button
        tuiTab
        type="button"
        class="step flex items-center justify-center text-(--theme)!"
        [disabled]="isStepDisabled(step.id)"
      >
        {{ step.title }}
        @if (!last) {
          <tui-icon icon="@tui.chevron-right" class="separator ml-2" />
        }
      </button>
    }
  </tui-tabs>

  <div class="mt-6" [hidden]="activeStepIndex() !== 0">
    <app-employee-details (formSubmitted)="onEmployeeDetailsSubmission($event)" />
  </div>

  <div class="mt-6" [hidden]="activeStepIndex() !== 1">
    <app-employee-experience
      (stepBack)="previousStep()"
      (formSubmitted)="onWorkExperienceSubmission($event)"
    />
  </div>

  <div [hidden]="activeStepIndex() !== 2">
    <button TuiButton (click)="submitFullPayload()">Add Employee</button>
  </div>
</div>
