/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

:root{
    --theme:#1d1d1d;
    --primary:#3f3d41;
    --secondary:#D6D6D6;
    --background_light:white;
}


[tuiTheme="dark"] {
  --tui-background-base: var(--background_light) !important;
  --tui-background-base-alt: var(--secondary) !important;
}

html,body{
  background: #1d1d1d;
  padding: 0px;
  margin: 0px;
}

[tuiAppearance][data-appearance=primary] {
  background: var(--theme);
}
[tuiAppearance][data-appearance=secondary],[tuiAppearance][data-appearance=flat]{
  color:var(--theme);
}

[tuiAppearance][data-appearance=textfield] [tuiInput][chrome-autofilled], [tuiAppearance][data-appearance=textfield] [tuiInput]:-webkit-autofill {
      box-shadow: 0 0 0 100rem var(--secondary) inset !important;
}

