<div class="flex flex-col gap-5 max-w-7xl mx-auto">
  <app-main-heading title="Employee List" description="List of all the employees in the organization">
    <div class="flex gap-2">
      <button type="button" iconStart="@tui.refresh-cw" tuiButton size="s"
        class="cursor-pointer bg-(--theme3)! text-white hover:bg-(--theme3)/80!">
        Refresh
      </button>

      <button type="button" iconStart="@tui.download" tuiButton size="s" (click)="exportToCsv()"
        class="cursor-pointer bg-(--secondary)! text-(--primary)! hover:bg-(--secondary)/80!">
        Export
      </button>
    </div>
  </app-main-heading>

  <app-employee-filter-bar [employees]="employees() ?? []" (filterChange)="onFilterChange($event)" s />

  <div tuiCardLarge class="table-scroll p-0! shadow-[0_0_5px_rgba(0,0,0,0.2)]! glass-card bg-(--secondary)/20!">
    <table tuiTable class="attendance-table w-full " size="m" [(ngModel)]="selected">
      <thead class="bg-linear-to-r from-(--theme1) via-(--theme2) to-(--theme3) text-shadow-md">
        <tr>
          <th tuiTh class="text-white!">Actions</th>
          <th tuiTh class="text-white!">StaffNo</th>
          <th tuiTh class="col-checkbox">
            <div [tuiCell]="size" class="text-white!">
              <input tuiCheckbox tuiCheckboxTable type="checkbox" [size]="size === 'l' ? 'm' : 's'" />
              <span tuiTitle>Employee</span>
            </div>
          </th>
          <th tuiTh class="text-white!">Email</th>
          <th tuiTh class="text-white!">Department</th>
          <th tuiTh class="text-white!">Branch</th>
          <th tuiTh class="text-white!"> Job Title</th>
          <th tuiTh class="text-white!">Manager</th>
          <th tuiTh class="text-white!">Is Active</th>
          <th tuiTh class="text-white!">Created At</th>
          <th tuiTh class="text-white!">Role</th>
        </tr>
      </thead>
      <tbody tuiTbody>
        @for (employee of paginatedEmployees(); track employee.id) {
        <tr>
          <td tuiTd class="col-actions w-10">
            <span tuiStatus>
              <button appearance="action" iconStart="@tui.ellipsis" size="xs" tuiIconButton type="button"
                (click)="onMore(employee)" class="text-(--theme1)!">
                More
              </button>
              <button appearance="action" iconStart="@tui.eye" size="xs" tuiIconButton type="button"
                (click)="onEdit(employee)" class="text-(--theme1)!" [routerLink]="['/employee', employee.id, 'edit']">
                View
              </button>
            </span>
          </td>
          <td tuiTd>
            {{ employee.staffNo || 'N/A' }}
          </td>
          <td tuiTd class="col-checkbox">
            <div [tuiCell]="size">
              <div [style.background]="employee.fullName | tuiAutoColor" [tuiAvatar]="employee.fullName | tuiInitials">
              </div>
              <input tuiCheckbox type="checkbox" [size]="size === 'l' ? 'm' : 's'" [tuiCheckboxRow]="employee" />
              <span tuiTitle>
                {{ employee.fullName || 'N/A' }}
              </span>
            </div>
          </td>
          <td tuiTd>
            {{ employee.email }}
          </td>
          <td tuiTd class="col-department">
            {{ employee.departmentName || 'N/A' }}
          </td>
          <td tuiTd>
            {{ employee.branchName || 'N/A' }}
          </td>
          <td tuiTd>
            {{ employee.jobTitleName || 'N/A' }}
          </td>
          <td tuiTd>
            {{ employee.managerName || 'N/A' }}
          </td>
          <td tuiTd>
            {{ employee.isActive || 'N/A' }}
          </td>
          <td tuiTd>
            {{ employee.createdAtUtc }}
          </td>
          <td tuiTd>
            {{ employee.role || 'N/A' }}
          </td>
        </tr>
        } @empty {
        <tr>
          <td tuiTd [attr.colspan]="7" class="empty-state">No employees to show.</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  @if (filteredEmployees().length > 0) {
  <div tuiCardLarge
    class="flex flex-row! items-center! justify-between  shadow-[0_0_5px_rgba(0,0,0,0.2)]! bg-(--secondary)/20! glass-card">

    <span class="text-sm">
      Showing {{ page() * pageSize + 1 }}–{{ page() * pageSize + paginatedEmployees().length }} of
      {{ filteredEmployees().length }}
    </span>

    <tui-pagination [length]="totalPages()" [index]="page()" (indexChange)="onPageChange($event)" />
  </div>
  }
</div>