<div tuiCardLarge class="drop-shadow-sm bg-(--secondary)/20! glass-card shadow-[0_0_5px_rgba(0,0,0,0.2)]!">
  <div class="flex items-center justify-start gap-2">
    <mat-icon class="text-(--theme2)!">track_changes</mat-icon>
    <div>
      <h1 class="text-xl! text-(--primary)! font-bold! flex justify-start items-center uppercase">
        My Performance
      </h1>
      <span class="text-sm text-(--primary)/80">Track your overall performance.</span>
    </div>
  </div>

  <div class="flex gap-5">
    <!-- 7 Days Clock-in / Clock-out History Card -->
    <div tuiCardLarge
      class="bg-(--background_light)/40! min-w-2xl rounded-2xl  border! border-(--secondary)/20! drop-shadow-sm flex flex-col gap-1!">

      <div class="flex items-center justify-between border-b border-(--secondary) pb-3">
        <div>
          <h3 class="text-xl font-bold text-(--theme2) uppercase">Shift History</h3>
          <p class="text-sm text-(--primary)/80">Last 7 days attendance record</p>
        </div>
        <button type="button" tuiButton appearance="flat" size="s" (click)="router.navigate(['attendance/history'])"
          class="cursor-pointer! hover:text-slate-900 bg-(--theme2)!  text-white!">
          View All <tui-icon icon="@tui.chevron-right" class="separator ml-2" />

        </button>
      </div>

      <div class="overflow-x-auto flex-1">
        <table class="w-full text-left text-sm border-collapse">
          <thead>
            <tr class="border-b border-(--secondary) text-(--primary)/80! uppercase text-xs tracking-wider">
              <th class="py-3 px-2 font-semibold">Date</th>
              <th class="py-3 px-2 font-semibold">Clock In</th>
              <th class="py-3 px-2 font-semibold">Clock Out</th>
              <th class="py-3 px-2 font-semibold">Work Hours</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-(--secondary)">
            @for (day of fullWeekAttendance(); track day.dateStr) {

            <tr (click)="router.navigate([`attendance/adjustment/${day.record?.id}`])"
              [class.bg-(--success)/10]="isToday(day.dateStr)"
              class="hover:bg-(--secondary)/20 transition-colors cursor-pointer">
              <td class="py-2 px-2 font-semibold text-(--primary)">
                {{ day.dateStr | date: 'EEE, MMM d' }}
              </td>

              <td class="py-2 px-2 text-(--primary)">
                <span class="inline-flex items-center gap-1.5">
                  <span class="w-1.5 h-1.5 rounded-full" [class.bg-(--success)]="day.record?.firstIn"
                    [class.bg-slate-300]="!day.record?.firstIn"></span>
                  @if (day.record?.firstIn) {
                  {{ day.record?.firstIn | date: 'hh:mm a' }}
                  } @else {
                  <span class="text-(--primary)/40 italic">N/A</span>
                  }
                </span>
              </td>

              <td class="py-2 px-2 text-(--primary)">
                <span class="inline-flex items-center gap-1.5">
                  <span class="w-1.5 h-1.5 rounded-full" [class.bg-amber-500]="day.record?.lastOut"
                    [class.bg-slate-300]="!day.record?.lastOut"></span>
                  @if (day.record?.lastOut) {
                  {{ day.record?.lastOut | date: 'hh:mm a' }}
                  } @else {
                  <span class="text-(--primary)/40 italic">N/A</span>
                  }
                </span>
              </td>

              <td class="py-2 px-2 text-(--primary)">
                <span class="inline-flex items-center gap-1.5">
                  <span class="w-1.5 h-1.5 rounded-full"></span>
                  @if (day.record?.workingHours) {
                  {{ day.record?.workingHours}} Hr
                  } @else {
                  <span class="text-(--primary)/40 italic">N/A</span>
                  }
                </span>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div tuiCardLarge
      class="bg-(--background_light)/40! grid-cols-2! flex flex-1 flex-col justify-between rounded-xl p-6 drop-shadow-sm text-(--primary) overflow-visible border! border-(--secondary)/20!">
      <div class="flex items-center justify-between border-b border-(--secondary) pb-4">
        <div>
          <h3 class="text-lg font-bold text-(--theme2) uppercase">Work Hour Overview</h3>
          <p class="text-sm text-(--primary)/80">Last {{ punches().length }} days work hour overview.</p>
        </div>


      </div>


      <app-attendance-bar-chart />


    </div>

  </div>
</div>