<div tuiCardLarge class="drop-shadow-sm bg-(--secondary)/70! shadow-[0_0_5px_rgba(0,0,0,0.2)]! gap-2! glass-card">
  <div class="flex items-center justify-start gap-2">
    <mat-icon class="text-(--theme2)!">person</mat-icon>
    <div>
      <h1 class="text-xl! text-(--primary)! font-bold! flex justify-start items-center uppercase">
        My Profile
      </h1>
      <span class="text-sm text-(--primary)/80">Edit and View your profile details</span>
    </div>
  </div>

  <div class="flex gap-5">
    <div tuiCardLarge
      class="flex-1 bg-(--secondary)! border! drop-shadow-sm flex flex-col justify-between gap-6 border-(--secondary)/20!">
      <!-- Header: Avatar, Name & Status -->
      <div class="flex items-center justify-between gap-4 pb-5 border-b border-(--primary)/20">
        <!-- Left Side: Avatar + Details -->
        <div class="flex items-center gap-4 min-w-0">
          <div
            class="size-16 rounded-full bg-(--theme1)/25 border border-(--theme1)/50 flex items-center justify-center text-xl font-semibold text-(--theme1) shrink-0">
            {{ initials() }}
          </div>

          <div class="min-w-0">
            <h3 class="text-xl font-bold text-(--theme2) truncate">
              {{ currentUser?.employeeInfo?.firstName }} {{ currentUser?.employeeInfo?.lastName }}
            </h3>

            <div class="flex flex-wrap items-center gap-2 mt-2">
              <span
                class="inline-block text-xs px-2.5 py-0.5 rounded-full bg-(--primary)/20 text-(--primary)/80 font-semibold">
                {{ currentUser?.employeeInfo?.designationTitle || 'N/A' }}
              </span>
              <!-- Employee ID -->
              <span
                class="inline-block text-xs px-2 py-0.5 rounded-full bg-(--primary) text-(--background_light) font-mono font-medium">
                {{ currentUser?.employeeInfo?.staffNo || 'N/A' }}
              </span>
            </div>
          </div>
        </div>

        <!-- Right Side: Status Badge + Emp ID -->
        <div class="flex flex-col items-end gap-2 shrink-0">
          <button tuiButton type="button" size="s" iconStart="@tui.pencil"
            [routerLink]="['/employee', currentUser?.employeeInfo?.id, 'view']"
            class="bg-(--theme1)! btn-lift"></button>


          <!-- Departmnet Badge -->
          <span
            class="inline-flex items-center gap-1 px-2 py-0.5 rounded-full text-xs font-semibold bg-(--success) text-emerald-900"
            title="Active Employee">
            <span class="w-1.5 h-1.5 rounded-full bg-emerald-700"></span>
            {{ currentUser?.employeeInfo?.departmentName || 'N/A' }}
          </span>


        </div>
      </div>

      <!-- Content: Key Employee Details Grid -->
      <div class="grid grid-cols-2 gap-4">
        <div class="p-3 rounded-xl bg-(--background_light) shadow-[0_0_5px_rgba(0,0,0,0.2)]!">
          <span class="text-xs text-(--primary)/60 block font-medium uppercase tracking-wider">Role</span>
          <div class="flex gap-2 mt-2">
            @for (roles of currentUser?.employeeInfo?.roles; track $index) {
            <span class="text-sm font-semibold text-(--primary) capitalize truncate bg-(--theme1)/50 px-2 rounded-full">
              {{ roles || 'N/A' }}
            </span>
            }
          </div>
        </div>

        <div class="p-3 rounded-xl bg-(--background_light) shadow-[0_0_5px_rgba(0,0,0,0.2)]!">
          <span class="text-xs text-(--primary)/60 block font-medium uppercase tracking-wider">Branch</span>
          <span class="text-sm font-semibold text-(--primary) truncate block mt-0.5">
            {{ currentUser?.employeeInfo?.branchName || 'N/A' }}
          </span>
        </div>

        <div class="p-3 rounded-xl bg-(--background_light) shadow-[0_0_5px_rgba(0,0,0,0.2)]!">
          <span class="text-xs text-(--primary)/60 block font-medium uppercase tracking-wider">Manager</span>
          <span class="text-sm font-semibold text-(--primary) truncate block mt-0.5">
            {{ currentUser?.employeeInfo?.managerName || 'N/A' }}
          </span>
        </div>

        <div class="p-3 rounded-xl bg-(--background_light) shadow-[0_0_5px_rgba(0,0,0,0.2)]!">
          <span class="text-xs text-(--primary)/60 block font-medium uppercase tracking-wider">Joined</span>
          <span class="text-sm font-semibold text-(--primary) truncate block mt-0.5">
            {{ currentUser?.employeeInfo?.startDate || 'N/A' }}
          </span>
        </div>
      </div>

      <!-- Footer: Email & Employment Status -->
      <div class="pt-4 border-t border-(--primary)/20 flex items-center justify-between gap-2 text-xs">
        <div class="truncate">
          <span class="text-(--primary)/60 font-medium block">Email</span>
          <a href="mailto:saad.masood@company.com" class="font-semibold text-(--theme2) hover:underline truncate block">
            {{ currentUser?.email || 'N/A' }}
          </a>
        </div>

        <div class="shrink-0 text-right">
          <span class="text-(--primary)/60 font-medium block">Type</span>
          <span
            class="px-2 py-0.5 rounded-md bg-blue-50 text-blue-600 font-semibold text-[11px] uppercase inline-block mt-0.5">
            {{ currentUser?.employeeInfo?.employmentType || 'N/A' }}
          </span>
        </div>
      </div>
    </div>

    <div class="w-sm flex flex-col justify-between gap-6">
      <div tuiCardLarge
        class="flex-1  bg-(--secondary)! rounded-2xl drop-shadow-sm flex flex-col justify-between gap-3! border! border-(--secondary)/20!">
        <div class="flex items-center justify-between border-b border-(--primary)/20 pb-3">
          <div>
            <h3 class="text-xl font-bold text-(--theme2) uppercase">remaining leaves</h3>
            <p class="text-sm text-(--primary)/80">Your remaining leaves.</p>
          </div>
        </div>
        <div class="w-full h-full flex flex-col gap-5 items-center justify-center">
          <tui-ring-chart [value]="value" [(activeItemIndex)]="activeItemIndex" size="l">
            <span>{{ sum }}</span>
            <div>Total</div>
          </tui-ring-chart>

          <div class="legend flex gap-2">
            @for (label of labels; track label) {
            <tui-legend-item size="s" class="item" [active]="isItemActive($index)"
              [color]="`var(--tui-chart-categorical-${$index.toString().padStart(2, '0')})`" [text]="label"
              (tuiHoveredChange)="onHover($index, $event)">
              <span>{{ value[$index] || 0 }}</span>
            </tui-legend-item>
            }
          </div>
        </div>
      </div>
    </div>

    <app-leave-calendar-card />
  </div>
</div>